.pricing{
    h2{
        margin:0 auto;
    }
    .pricing--palden{
        margin-top:100px;
        display: flex;
        justify-content: center;
    }

    .pricing__item {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        font-family: "Nunito", sans-serif;
        cursor: default;
        width: 400px !important;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
        border-radius: 20px 20px 10px 10px;
        margin: 0 -0.5em;        
        &:not(.pricing__item--featured) button{
            margin:30px auto 30px auto;            
        }
    }
    .pricing__item--featured {
        margin:-30px 0 -30px;
         z-index: 99;
        box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
        button{
            margin:30px auto;
        }
    }
    .pricing__deco {
        border-radius: 10px 10px 0 0;
        background:linear-gradient(to bottom, #AC32E4 0%, #7918F2 48%, #4801FF 100%); 
        padding: 4em 0 9em;
        position: relative;
        .wave{
            @include wavyAnimation(100px, '../img/header/#{$waves}');
            position:absolute;
            bottom: 0;
        }; 
    }

    .pricing__title {
        font-size: 1em;
        font-family: lato-bold;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #FFF;
    }

   .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }

    .pricing__item:hover .deco-layer--1 {
        -webkit-transform: translate3d(15px,0,0);
        transform: translate3d(15px,0,0);
    }

    .pricing__item:hover .deco-layer--2 {
        -webkit-transform: translate3d(-15px,0,0);
        transform: translate3d(-15px,0,0);
    }

    .icon {
        font-size: 2.5em;
    }

    .pricing__price {
        font-size: 5em;
        font-family:lato-bold;
        padding: 0;
        color: #fff;
        margin: 0 0 0.25em 0;
    }

    .pricing__currency {
        font-size: .3em;
        vertical-align: top;
        color:#FFF;
    }

    .pricing__period {
        font-size: .2em;
        padding: 0 0 0 0.5em;
        color: #FFF;
        font-style: italic;
    }

    .pricing__sentence {
        font-weight: bold;
        margin: 0 0 1em 0;
        padding: 0 0 0.5em;
    }

    .pricing__feature-list {
        margin: 0;
        text-align: left;
        font-family:lato-regular;
        font-size:16px;
        hr{
            margin:0 auto;
        }
    }

    .pricing__feature {
        padding:15px 15px 15px 30px ;
        // box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .3);                   
        margin-top:15px;
    }


    .pricing__action {
        font-weight: bold;
        margin: auto 3em 2em 3em; 
        padding: 1em 2em;
        color: #fff;
        border-radius: 30px;
        background: #ffae7e;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

    .pricing__action:hover,
    .pricing__action:focus {
        background-color: #f38747;
    }
}