@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face{
  font-family:'digital-clock-font';
  src: url('../fonts/digital-7.italic.ttf');
}


@font-face {
  font-family: "roboto";
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: "lato-bold";
  src: url('../fonts/lato-Bold.ttf');
}

@font-face {
  font-family: "lato-light";
  src: url('../fonts/lato-Light.ttf');
}

@font-face {
  font-family: "lato-Hairline";
  src: url('../fonts/Lato-Hairline.ttf');
}

@font-face {
  font-family: "lato-Regular";
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: "lato-italic";
  src: url('../fonts/Lato-italic.ttf');
}
